In [ ]:
import pandas as pd
import psycopg2
import pycountry
from sqlalchemy import create_engine

In [2]:


engine = create_engine("postgresql+psycopg2://sanctions:sanctions@localhost:5432/sanctions")

source_countries = pd.read_sql("SELECT DISTINCT source_country FROM entries_countries", con=engine)
source_countries["alpha_2"] = source_countries["source_country"].apply(
	lambda x: x.upper() if x is not None else None)
source_countries = source_countries.merge(countries, on="alpha_2")
source_countries["description"] = source_countries.apply(lambda x: f"{x['name']} {x['flag']}", axis=1)

In [7]:
countries = [
	{"alpha_2": c.alpha_2, "alpha_3": c.alpha_3, "flag": c.flag, "name": c.name, "numeric": c.numeric}
	for c in pycountry.countries
]

countries.append({"alpha_2": "EU", "alpha_3": "EU", "flag": 'ðŸ‡ªðŸ‡º', "name": "European Union", "numeric": 420})
countries = pd.DataFrame(countries)

In [39]:
engine = create_engine("postgresql+psycopg2://sanctions:sanctions@localhost:5432/sanctions")

mode = "Sanctions towards" 
country = "ru"
schema = None

if "Sanctions towards" == mode:
    sql = "SELECT * FROM entries_countries WHERE target_country = %(c)s AND (%(s)s IS NULL OR schema = %(s)s)"
else:
    sql = "SELECT * FROM entries_countries WHERE source_country = %(c)s AND (%(s)s IS NULL OR schema = %(s)s)"

df = pd.read_sql(sql, params={"c": country, "s": schema}, con=engine)
df["target_country"] = df["target_country"].str.upper()
df["source_country"] = df["source_country"].str.upper()

df = df.merge(countries, left_on="source_country", right_on="alpha_2")\
    .merge(countries, left_on="target_country", right_on="alpha_2", suffixes=("_source", "_target"))

df

,id,caption,schema,target_country,source_country,first_seen,last_seen,last_change,target,alpha_2_source,alpha_3_source,flag_source,name_source,numeric_source,alpha_2_target,alpha_3_target,flag_target,name_target,numeric_target
0,addr-000296e1c8f847a3f50c4be39e02c6e44b2d3864,"10 Pskovskaya St., Building 1, Floor 11, Offic...",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
1,addr-0003c476b65bbc1c36f7504a3776038c9f1ff145,"Troitsk, st. Pushkovs, ow. 12, 108840 Moscow",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
2,addr-0016b42859c07d8b6731409e33fdd2a05dc3f02b,Moscow,Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
3,addr-001a12deed64daccc0ef45efc29beb921d5b066a,Moscow,Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
4,addr-0028604ce48cf1c896035134f978ecd377e2e0a4,"d. 62 pom. 702, ul. Lenina, 169908 Vorkuta",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110566,Q557317,German Borisovich KHAN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 12:17:01,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110567,Q732142,Mikhail Maratovic FRIDMAN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 12:17:01,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110568,Q7747,Vladimir Vladimirovich PUTIN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 02:41:26,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110569,Q108611396,Akintayo Aluko,Person,RU,NG,2023-04-20 10:30:17,2023-11-16 00:49:19,2023-10-23 10:04:48,True,NG,NGA,ðŸ‡³ðŸ‡¬,Nigeria,566,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110570,Q16474356,Igor Vsevolodovich GIRKIN,Person,RU,NL,2022-04-27 18:12:14,2023-11-16 03:43:01,2023-11-14 00:54:47,True,NL,NLD,ðŸ‡³ðŸ‡±,Netherlands,528,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643

In [26]:
col1 = "name_source" if mode == "Sanctions towards" else "name_target"
df1 = df.groupby(col1)["id"].nunique()
df1

name_source
Argentina                  22
Australia                1327
Belgium                  1810
Bulgaria                    2
Canada                   2075
Cyprus                     71
Czechia                    10
Estonia                    11
European Union           1838
France                   1739
Israel                     16
Japan                    1105
Kazakhstan                111
Kyrgyzstan                 69
Latvia                      6
Lithuania                  11
Moldova, Republic of       24
Netherlands                 1
New Zealand              1375
Nigeria                     1
Poland                     49
Qatar                      22
Russian Federation      74299
South Africa               19
Switzerland              2170
Ukraine                 12229
United Arab Emirates        1
United Kingdom           2069
United States            8089
Name: id, dtype: int64

In [43]:
df

,id,caption,schema,target_country,source_country,first_seen,last_seen,last_change,target,alpha_2_source,alpha_3_source,flag_source,name_source,numeric_source,alpha_2_target,alpha_3_target,flag_target,name_target,numeric_target
0,addr-000296e1c8f847a3f50c4be39e02c6e44b2d3864,"10 Pskovskaya St., Building 1, Floor 11, Offic...",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
1,addr-0003c476b65bbc1c36f7504a3776038c9f1ff145,"Troitsk, st. Pushkovs, ow. 12, 108840 Moscow",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
2,addr-0016b42859c07d8b6731409e33fdd2a05dc3f02b,Moscow,Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
3,addr-001a12deed64daccc0ef45efc29beb921d5b066a,Moscow,Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
4,addr-0028604ce48cf1c896035134f978ecd377e2e0a4,"d. 62 pom. 702, ul. Lenina, 169908 Vorkuta",Address,RU,US,2023-11-02 16:38:16,2023-11-16 02:11:54,2023-11-02 16:38:16,False,US,USA,ðŸ‡ºðŸ‡¸,United States,840,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110566,Q557317,German Borisovich KHAN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 12:17:01,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110567,Q732142,Mikhail Maratovic FRIDMAN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 12:17:01,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110568,Q7747,Vladimir Vladimirovich PUTIN,Person,RU,LT,2022-01-01 00:00:00,2023-11-16 03:43:01,2023-11-15 02:41:26,True,LT,LTU,ðŸ‡±ðŸ‡¹,Lithuania,440,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110569,Q108611396,Akintayo Aluko,Person,RU,NG,2023-04-20 10:30:17,2023-11-16 00:49:19,2023-10-23 10:04:48,True,NG,NGA,ðŸ‡³ðŸ‡¬,Nigeria,566,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643
110570,Q16474356,Igor Vsevolodovich GIRKIN,Person,RU,NL,2022-04-27 18:12:14,2023-11-16 03:43:01,2023-11-14 00:54:47,True,NL,NLD,ðŸ‡³ðŸ‡±,Netherlands,528,RU,RUS,ðŸ‡·ðŸ‡º,Russian Federation,643

In [49]:
df_melt = pd.melt(
	df.rename(columns={"first_seen": "First Seen", "last_seen": "Last Seen", "last_change": "Last Change"}), 
	id_vars=['id'], value_vars=['First Seen', 'Last Seen', 'Last Change'], var_name='value', value_name='date')
df_melt["date"] = pd.to_datetime(df_melt["date"])
df_melt["date"] = df_melt["date"].dt.date
df_melt = df_melt.groupby(["value", "date"])["id"].nunique().reset_index()
df_melt

          value        date     id
0    First Seen  2019-05-21    680
1    First Seen  2021-09-27      8
2    First Seen  2021-10-22      1
3    First Seen  2022-01-01  47893
4    First Seen  2022-02-03     15
..          ...         ...    ...
385   Last Seen  2023-11-11      1
386   Last Seen  2023-11-12      4
387   Last Seen  2023-11-14     48
388   Last Seen  2023-11-15  28790
389   Last Seen  2023-11-16  20202

[390 rows x 3 columns]

In [14]:
conn = get_connection()
cur = conn.cursor()

In [51]:
def download(schema, query):
    if query is None:
        return []

    restriction = []

    if schema is not None:
        restriction.append("schema = %(schema)s")

    sql = f"SELECT * FROM entities WHERE LOWER(caption) LIKE concat('%', LOWER(%(query)s) ,'%')"
    sql += "" if len(restriction) == 0 else " AND " + " AND ".join(restriction)
    print(sql)

    df = pd.read_sql(sql, params={"schema": schema, "query": query}, con=engine)
    
    print(df)
    
    return df[["id", "schema", "caption"]].to_dict("records")

download("Company", "bmw")

SELECT id, schema, caption FROM entities WHERE LOWER(caption) LIKE concat('%', LOWER(%(query)s) ,'%') AND schema = %(schema)s

TypeError: dict is not a sequence

# Network

In [ ]:
sql = "SELECT source_country, target_country, count(DISTINCT id) FROM entries_countries GROUP BY 1, 2"